section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    background-color: #3a3a3a;
    border-radius: 10px;
    border: 1px solid #fff;
    max-width: 600px;
    width: 60%;
    max-height: 700px;
    height: 50%;
}

.loginHeader {
    padding: 20px 5px 0 5px;
    text-align: center;
    letter-spacing: .6px;
}

.loginBody {
    padding: 15px 10px;
}

.loginBody>form {
    display: flex;
    flex-direction: column;
}

.loginFooter {
    padding: 15px 5px;
    text-align: center;
}

.loginFooter>label>.link {
    text-decoration: underline;
    color: #225ec0;
}

.loginFooter>label>.link:hover {
    color: #4886e8;
}